{
  "app": {
    "name": "forgeApp",
    "debug": true,
    "url": "https://localhost:8443"
  },
  "db": {
    "name": "sample_mflix",
    "string_connection": "mongodb://localhost:27017"
  },
  "log": {
    "print": true,
    "level": "debug",
    "days": 7
  },
  "server": [
    {
      "host": "127.0.0.1",
      "port": 8443,
      "https": true,
      "auto_cert": true
    }
  ]
}
